.article_id_classes { display: none; }
.content_id_classes,
.article_id_classes_view { 
    display: flex; 
    flex-wrap: wrap; 
    flex-grow: 1;
    justify-content: space-between; 
    float: right;
    position: relative;
    bottom: 3px;
    .classes, .ids { display: flex; flex-wrap: wrap; 
        & > span { 
            color: #666; 
            border: 1px solid var(--border, #999); 
            border-radius: 20px; 
            line-height: 1; 
            display: inline-block; 
            font-size: 9px; 
            padding: 3px 6px;
            margin-top: 3px; 
            margin-left: 7px;
            transition: background .25s ease-in-out;
        }
    }
    .ids span {
        color: #edad3b; 
        border: 1px solid #edad3b; 
    }
}
.tl_content .limit_height .content_id_classes { margin-right: 200px; }
body .tl_listing .tl_left { display: flex; flex-wrap: wrap; }

html[data-color-scheme="dark"] {
    .article_id_classes_view,
    .content_id_classes {
        .classes, .ids {
            & > span {
                color: #bbb; 
                border: 1px solid #bbb;
            }
        }
        .ids > span {
            color: #edad3b; 
            border: 1px solid #edad3b; 
        }
    }
}
